@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wave{
    
    text-align: center;
    margin-top: 70px;
}

.font-restructure p{
    font-family: Inter;
font-size: 19px;
font-weight: 400;
text-align: center;
}
.text-flex{
    font-family: Inter;
}

@media (max-width: 380px) {
    .font-restructure p{
        font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    }

    .text-flex{
        font-family: Inter;
        text-align: center;
    }

    .text-ali{
        font-size: 22px;
        line-height: 1.2;
    }

    .text-alimber{
        font-size: 13px;
        line-height: 1.3;
    }
}

